.navbar-toggler[b-v8loa0p2ex] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-v8loa0p2ex] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-v8loa0p2ex] {
    font-size: 1.1rem;
}

.oi[b-v8loa0p2ex] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-v8loa0p2ex] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-v8loa0p2ex] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-v8loa0p2ex] {
    padding-bottom: 1rem;
}

.nav-item[b-v8loa0p2ex]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-v8loa0p2ex]  a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-v8loa0p2ex]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-v8loa0p2ex] {
        display: none;
    }

    .collapse[b-v8loa0p2ex] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-v8loa0p2ex] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.nav-scrollable[b-v8loa0p2ex]::-webkit-scrollbar {
    width: 1em;
}

.nav-scrollable[b-v8loa0p2ex]::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.nav-scrollable[b-v8loa0p2ex]::-webkit-scrollbar-thumb {
    background: linear-gradient(black, rgb(113, 20, 189));
    outline: 1px solid rgb(56, 6, 56);
    border-radius: 10px;
}
