@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>GamePlatform</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between">
            <div class="searchDiv">
                <input class="w-75 input" type="text" @bind="searchResults">
                <button @onclick="FetchData" class="button searchBtn ms-2">Search</button>
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>


@code {
    private string? searchResults;
    protected Games? SearchedGame = null;

    private async Task FetchData()
    {
        var searchQuery = Uri.EscapeDataString(this.searchResults ?? "");
        NavigationManager.NavigateTo($"/game/search-results/{searchQuery}");
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await FetchData();
        }
    }

}