body {
    background: linear-gradient(120deg, black, purple);
    color: white;
}

.cardHover {
    transition: transform 0.2s;
    position: relative;
    background-color: black;
}

.cardHover:hover::after {
    top: 0;
    left: 0;
    height: 103%;
    width: 102%;
    filter: blur(20px);
    transform: scale(1.1);
}

.cardHover::after {
    content: "";
    position: absolute;
    background: linear-gradient(white, rgba(128, 9, 128, 0.671));
    z-index: -1;
    filter: blur(0);
    transition: all 500ms ease;
    top: 0;
    left: 0;

}

ul {
    list-style: none;
}

.button {
    background-color: black;
    color: white;
    border-radius: 15px;
}

.button:hover {
    background-color: rgba(145, 46, 145, 0.445);
    border-color: white;
}

.selectBar:focus {
    background-color: black;
    color: rgb(122, 5, 122);
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(119, 78, 231, 0.3);
    background: linear-gradient(black, rgb(113, 20, 189));

}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(black, rgb(113, 20, 189));
    background-color: purple;
    outline: 1px solid rgb(56, 6, 56);
    border-radius: 10px;

}

.image-container {
    min-height: 750px;
    position: relative;
    opacity: 0.8;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(41, 39, 39, 0.979), rgba(0, 0, 0, 0.397));
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    opacity: 1;
    z-index: 1;
}

.sc-image {
    width: 13rem;
}

.sc-image:hover {
    transform: scale(1.1);
}

.searchDiv {
    width: 50rem;
}

.input {
    border-radius: 5px;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    text-decoration: underline;
}

a {
    text-decoration: none;
}